<p style="color: green"><%= notice %></p>

<div class="content is-medium">
    <h1>Welcome to pokedex</h1>
    <h3>Made by Bryan</h3>

    <%= link_to "Show Categories", pokemons_path, class: "button is-info" %>
</div>

